* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}

// POPPINS
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Medium.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// INTER
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Medium.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Black.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/********************************/
/*
// POPPINS
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Black.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Bold.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}





@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Light.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Thin.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/pop\ /Poppins-Italic.woff2') format('woff2'),
        url('../assets/fonts/pop\ /Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

// INTER
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-ExtraLightItalicBETA.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-LightBETA.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-LightBETA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-ThinItalicBETA.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-ThinItalicBETA.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-LightItalicBETA.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-LightItalicBETA.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-ExtraLightBETA.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-ThinBETA.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-ThinBETA.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Italic.woff2') format('woff2'),
        url('../assets/fonts/inter/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}*/