@use "./styles" as *;

$main-font: Inter;

#content .homepage {
    padding: 0 var(--sides-padding);
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    // height: ;
    border: 1px solid red;


    .left-section {
        align-self: center;

        h1 {
            color: #000;
            font-family: $main-font;
            font-size: 62px;
            font-style: normal;
            font-weight: 800;
            line-height: 110.523%;
            max-width: 596px;
            height: auto;

            /* 90.224px */
            .food {
                color: #39DB4A;
            }
        }

        p {
            grid-column: 1/2;
            max-width: 622px;
            padding-top: 59px;
            color: #4A4A4A;
            font-family: $main-font;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 170.5%;
            /* 44.33px */
        }

        .buttons {
            margin-top: 71px;
            grid-column: 1/2;
            display: flex;
            gap: 30px;
            align-items: center;

            .orderButton {
                border-style: none;
                width: 229px;
                height: 80px;
                border-radius: 40px;
                background: #39DB4A;
                box-shadow: -2px 22px 38px 0 rgba(142, 255, 154, 0.50);
                color: #FFF;
                font-family: $main-font;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .watchVid {
                color: #4D4D4D;
                font-family: $main-font;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-decoration: none;
            }

            .playButton {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                flex-shrink: 0;
                height: 80px;
                width: 80px;
                box-shadow: -2px 22px 38px 0 rgba(19, 19, 19, 0.308);



                // border: 2px solid gainsboro;
            }
        }
    }

    .right-section {
        justify-self: end;
        border: 1px solid gold;
        position: relative;

        .specialty {
            display: flex;
            position: absolute;
            bottom: -70px;
            left: -80px;
            gap: 50px;

            .fav1,
            .fav2 {
                display: flex;
                align-items: center;
                padding-left: 20px;
                width: 349px;
                height: 132px;
                background-color: red;
                border-radius: 25px;
                background: #FFF;
                box-shadow: 7px 35px 51px 0 rgba(0, 0, 0, 0.14);
            }



            .fav1-img, .fav2-img {
                width: 98px;
                height: 98px;
                border-radius: 15px;
                background: #EDEDED;
            }

        }

        .circle {
            grid-column: 2/3;
            grid-row: 1/-1;
            width: 662.703px;
            height: 653.969px;
            border-radius: 500px;
            background: #53EC62;
            // border: 2px solid red;
            position: relative;

            img.girl {
                position: absolute;
                width: 722.203px;
                height: 797.316px;
                // border: 2px solid;
                left: -59px;
                top: -142px;
            }

            .commentContainer {
                // border: 2px solid red;

                // width: max-content;
                .comment {
                    // border: 1px solid red;
                    height: min-content;
                    position: relative;
                    z-index: 1;
                    left: -140px;
                    // margin-top: 90px3
                }

                .message {
                    position: absolute;
                    left: -70px;
                    top: 45px;
                    z-index: 1;
                    color: #FF6868;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

            }

        }


    }


}