// @use "./styles" as *;

$main-font: Inter;
$minus: 20px;

#content .homepage {
    padding: 0 var(--sides-padding);
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    // border: 1px solid red;



    .left-section {
        // border: 1px solid blue;
        grid-row: 1/-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 900px;

        h1 {

            color: #000;
            font-family: $main-font;
            // font-size: 46px;
            font-size: clamp(26px, -29.8519px + 7.4074cqi, 50px);
            font-style: normal;
            font-weight: 900;
            line-height: 110.523%;
            // min-width: 596px;
            // height: auto;

            /* 90.224px */
            .food {
                color: #39DB4A;
            }
        }

        p {

            grid-column: 1/2;
            max-width: 500px;
            padding-top: 59px;
            color: #4A4A4A;
            font-family: $main-font;
            font-size: clamp(18px, -19.9259px + 3.7037cqi, 26px);
            // font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 170.5%;
            /* 44.33px */
        }

        .buttons {
            margin-top: 71px;
            grid-column: 1/2;
            display: flex;
            gap: 30px;
            align-items: center;

            .orderButton {
                
                border-style: none;
                width: 229px;
                height: 80px;
                border-radius: 40px;
                background: #39DB4A;
                box-shadow: -2px 22px 38px 0 rgba(142, 255, 154, 0.50);
                color: #FFF;
                font-family: $main-font;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                &:hover {
                    background: #12c421;
                    cursor: pointer;
                }
            }

            .watchVid {
                color: #4D4D4D;
                font-family: $main-font;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .playButton {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                flex-shrink: 0;
                height: 80px;
                width: 80px;
                box-shadow: -2px 22px 38px 0 rgba(19, 19, 19, 0.308);

                &:hover {
                    background: #EDEDED;
                    cursor: pointer;
                }
            }
        }
    }

    .right-section {
        // height: 0vh;
        // grid-column: 2/-1;
        // grid-row: /-1;
        display: flex;
        max-height: 900px;
        // border: 2px solid green;
        // border: 1px solid gold;
        position: relative;

        .commentContainer {
            // border: 2px solid red;
            height: min-content;
            position: relative;
            left: 30px;
            top: 150px;

            // width: max-content;
            .comment {
                // border: 1px solid red;
                height: min-content;
                position: relative;
                z-index: 1;
                left: -140px;
                // margin-top: 90px3
            }

            .message {
                position: absolute;
                left: -70px;
                top: 45px;
                z-index: 1;
                color: #FF6868;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

        }

        .specialty {
            opacity: 1;
            // border: 3px solid saddlebrown;
            display: flex;
            position: absolute;
            left: 45%;
            bottom: 50px;
            transform: translateX(-50%);
            gap: 50px;
            // transform: translate(-50%, -50%);


            .fav {
                // opacity: 1;
                display: flex;
                align-items: center;
                padding-left: 20px;
                width: 300px;
                height: 132px;
                background-color: red;
                border-radius: 25px;
                background: #FFF;
                box-shadow: 7px 35px 51px 0 rgba(0, 0, 0, 0.14);
            }

            .fav-img {
                width: 98px;
                height: 98px;
                border-radius: 15px;
                background: #EDEDED;
            }

            // .fav1 {
            // fav1 > fav1MenuDetails $ fav2 > fav2MenuDetails
            .favMenuDetails {
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 20px;
                height: 98px;
                width: auto;

                .foodName {
                    color: #2C2C2C;
                    font-family: Inter;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .ratings {
                    height: initial;
                    display: flex;
                    gap: 7px;
                }

                .price {

                    .dollarSign {
                        color: #FF7979;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .amount {
                        color: #515151;
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }


        }

        .circle {
            // align-self: flex-end;
            position: absolute;
            width: calc(596px - #{$minus});
            height: calc(588px - #{$minus});



            border-radius: 500px;
            background: #53EC62;
            // border: 2px solid red;
            // position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // position: relative;

            img.girl {
                // border: 2px solid blue;
                position: absolute;
                width: calc(650px - #{$minus});
                height: auto;
                bottom: 0px;
                right: -4px;


            }
        }


    }


}