@use "./styles" as *;

#content .menuPage {
    padding: 0 var(--sides-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    .customerFav {
        padding-top: 33px;
        color: #FF6868;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        text-align: center;
    }

    .popularCategories {
        padding-top: 33px;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .menuItemsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 72px;
        gap: 32px;

        & :hover {
            border: 2px solid red;
        }

        .mainDish {

            width: 326px;
            height: 326px;
            border-radius: 40px;
            background: #FFF;
            box-shadow: 2px 10px 30px 0 rgba(0, 0, 0, 0.10);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: calc(326px - 45px);
            height: calc(326px - 45px);

            // padding: 46px;
            &:hover {
                border: 2px solid #39DB4A;
                cursor: pointer;
            }

            .pictureContainer,
            .dishInfo,
            .totalDishes {
                pointer-events: none; // optional, prevents accidental hover triggers
            }


            .pictureContainer {
                width: 140px;
                height: 140px;
                background: #C1F1C6;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .dishPicture {
                    width: calc(139px - 20px);
                    height: calc(102px - 20px);
                }
            }

            .dishInfo {
                color: #1E1E1E;
                text-align: center;
                font-family: Inter;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .totalDishes {
                color: #555;
                text-align: center;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}