:root {
    --sides-padding: clamp(50px, -661.1111px + 69.4444cqi, 200px);
}

$height: 100vh;
// body{
//     background: linear-gradient(180deg, #FAFAFA 0%, #FCFCFC 100%);

// }
.container {
    background: linear-gradient(180deg, #FAFAFA 0%, #FCFCFC 100%);
    /* width: 1728px; */
    width: 100%;
    height: $height;

}

header {
    position: relative;
    z-index: 1;
    padding: 32px var(--sides-padding) ; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red; 
}

.logo {
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

.letterF {
    /* border: 2px solid gainsboro; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 41px;
    border-radius: 8px;
    background: #39DB4A;
}

.oodi {
    /* border: 2px solid gainsboro; */
    width: 70.193px;
    height: 22.836px;
}

nav {
    display: flex;
    gap: 30px;

}

nav>* {
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-style: none;
    background: none;
    cursor: pointer;
}

nav > *:hover {
    color: #39DB4A;
}


.order {
    /* border: 2px solid green; */
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.order .searchIcon {
    display: flex;
    align-items: center;
    /* justify-content: start; */
    cursor: pointer;
    width: 35px;
    height: 45px;
    /* border: 1px solid red; */
}

.order .bagIcon {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 35px;
    height: 45px;
    cursor: pointer;
    position: relative;
    /* border: 1px solid red; */
}

.order .bagIcon::after {
    opacity: 0;
    content: var(--after-content, '99');
    height: 20px;
    width: 20px;
    top: 0;
    right: 0;
    font-family: 'Poppins';
    font-size: 13px;
    text-align: center;
    background: #39DB4A;
    color: #FFF;
    font-weight: 600;
    border-radius: 100%;
    position: absolute;

}

.order .contact {
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    border-radius: 40px;
    background: #39DB4A;
    border-style: none;
}

.order .textCont {
    color: #FFF;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}